@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Spartan:wght@100;300;400;500;600;700&display=swap");
@import "../assets/break-points";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: white;
  color: black;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}
.form-check .form-check-input {
  border-radius: 0;
  box-shadow: none;
}
.form-check-input:checked[type="checkbox"] {
  border-radius: 0px;
  &:focus {
    box-shadow: none !important;
    border-radius: 0px;
  }
}
.hidden-overflow {
  overflow: hidden;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-extrabold {
  font-weight: 800 !important;
}
.fw-black {
  font-weight: 900 !important;
}
.top-header {
  background: black;
  a {
    color: white !important;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: #121212 !important;
    text-transform: none;
    font-size: 14px;
    @include media(mobile-only) {
      background: url(../assets/mobile-nav-bg.png) !important;
    }
  }
  #basic-navbar-nav {
    order: 3;
  }
  @include media(mobile-only) {
    .navbar-brand {
      order: 2;
      margin-right: 0;
    }
    .navbar-toggler {
      order: 1;
    }
  }
  .logo {
    font-size: 24px;
  }
  .img-logo {
    cursor: pointer;
  }
  .nav-link {
    margin-left: 4rem;
    font-size: 14px;
    font-weight: 400;
    @include media(mobile-only) {
      margin-left: 0;
    }
    @include media(wide) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    @include media(wider) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  button {
    color: white;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    text-transform: none;
    padding: 0;
    background: transparent;
    &:hover {
      color: white;
    }
  }
}

.hero {
  .tagline {
    h1 {
      font-size: 32px;
    }
  }
  @include media(mobile-only) {
    .tagline {
      min-height: 450px;
      position: relative;
      h1 {
        font-size: 32px;
      }

      .button {
        position: absolute;
        bottom: 40px;
      }
    }
  }
}
.cover {
  background: url("../assets/Hero.png") center center no-repeat;
  height: 660px;
  width: 100%;
}

input {
  border: none;
}
button {
  text-transform: uppercase;
  background: #121212;
  color: white;
}
.button,
button {
  text-transform: uppercase;
  padding: 10px 65px;
  color: white;
  background: black;
  display: inline-block;
  border: none;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

// override bootstrap button class
.btn {
  padding: 10px 65px;
}

.page-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
}
.learn-more {
  margin-top: 85px;
  margin-bottom: 140px;
  font-size: 14px;
  font-weight: 500;
  a {
    padding: 15px 45px;
    background: black;
    color: white;
    display: inline-block;
  }
}

.register-cover {
  min-height: 660px;
  background: url("../assets/Register.png") center center no-repeat;
  background-size: cover;
}

.register-text {
  a {
    text-decoration: underline;
  }
}
.cta {
  min-height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include media(mobile-only) {
    min-height: 80px;
  }
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .heading {
    font-size: 80px;
    font-weight: 400;
    color: white;
    text-transform: none;
    @include media(mobile-only) {
      font-size: 20px;
    }
  }
}
.page-title {
  min-height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .heading {
    font-size: 80px;
    font-weight: 400;
    color: white;
    text-transform: none;
  }
  @include media(mobile-only) {
    min-height: 150px;
    background: transparent !important;
    .cover {
      background: transparent;
    }
    .heading {
      font-size: 26px;
      font-weight: 600;
      color: black;
      text-transform: uppercase;
    }
  }
}
.page-second-title {
  min-height: 265px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .heading-second {
    font-size: 25px;
    font-weight: 400;
    color: black;
    text-transform: none;
  }
}
.front-services {
  padding: 55px 0 100px;
  background: #f6f6f6;
  .card {
    border: none;
    background: transparent;

    img {
      width: initial !important;
      height: auto;
      max-width: 100%;
      background: url("../assets/Circle.png") center center no-repeat;
      background-size: cover;
    }
    .card-title {
      font-size: 18px;
      font-weight: 400;
      text-transform: none;
      @include media(mobile-only) {
        font-size: 14px;
      }
    }
  }
  .learn-more {
    margin-top: 85px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    a {
      padding: 15px 45px;
      background: black;
      color: white;
    }
  }
}
.how-it-work {
  padding: 115px 0 0px;
  background: white;
  @include media(mobile-only) {
    padding: 0px 0 0px;
  }
  .sub-section {
    background: #fefefe;
    border: none;
    padding: 120px 0;
    @include media(mobile-only) {
      padding: 50px 0;
      img {
        margin-left: -70px;
      }
    }
    .card {
      background: transparent;
      border: none;
      .card-title {
        font-size: 34px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        @include media(mobile-only) {
          font-size: 20px;
        }
      }
      .card-text {
        width: 50%;
        @include media(mobile-only) {
          width: 100%;
          font-size: 12px;
          margin-top: 30px;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }
  .middle-section {
    background: #fafafa;
    padding: 120px 0 140px;

    @include media(mobile-only) {
      padding: 60px 0 70px;
      img {
        margin-left: 120px;
        position: relative;
      }
    }
  }
  .learn-more {
    margin-top: 85px;
    font-size: 14px;
    font-weight: 500;
    a {
      padding: 15px 45px;
      background: black;
      color: white;
    }
  }
}
.page-section {
  padding: 115px 0 0px;
  background: white;
  .page-description {
    margin: 0px 0 80px;
  }
  h2 {
    font-size: 20px;
  }
  .sub-section {
    background: #fafafa;
    border: none;
    padding: 120px 0;
    .card {
      background: transparent;
      border: none;
      .card-title {
        font-size: 34px;
        font-weight: 400;
        font-style: italic;
      }
    }
  }
  .middle-section {
    background: white;
    padding: 120px 0 140px;
  }
  .learn-more {
    margin-top: 85px;
    font-size: 14px;
    font-weight: 500;
    a {
      padding: 15px 45px;
      background: black;
      color: white;
    }
  }
}
.subscribe {
  background: #121212;
  padding: 12px 0;
  p {
    color: white;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
  }
  .subscribe-form {
    .form-control {
      background: rgba(255, 255, 255, 0.2);
      color: white;
      &::placeholder {
        color: white;
      }
    }
    button {
      background: black;
      color: white;
      border: 1px solid white;
    }
  }
  .socials {
    .nav-item {
      margin-right: 0;
      margin-left: 12px;
      a {
        color: white;
      }
    }
  }
}
.footer-widgets {
  padding: 40px 0px;
  background: white;
  font-size: 12px;
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .list-group-item {
    padding-left: 0;
    border: none;
    a {
      color: #121212;
      font-weight: 400;
    }
    svg {
      margin-right: 5px;
    }
  }
}
.credit-section {
  padding: 12px 0;
  background: #f8f8f8;
}
footer p {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 0;
}

.services {
  padding: 55px 0 100px;
  background: white;
  .card {
    border: none;
    background: transparent;

    img {
      width: initial !important;
      height: auto;
      max-width: 100%;
      background: url("../assets/Circle.png") center center no-repeat;
      background-size: cover;
    }
    .card-title {
      font-size: 18px;
      font-weight: 400;
      text-transform: none;
    }
  }
  .learn-more {
    margin-top: 85px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    a {
      padding: 15px 45px;
      background: black;
      color: white;
    }
  }
}

.search-bar {
  background: #f6f6f6;
  padding: 70px 120px;
  input {
    background: white;
  }
}

.brands {
  background: white;
  padding: 0px 0px 120px;
  display: flex;
  flex-wrap: wrap;
  //grid-template-columns: auto auto auto auto auto;
  .brand {
    width: 20%;
    min-height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media(mobile-only) {
      width: 100%;
      height: 45px;
    }
    padding-left: 50px;
    padding-right: 50px;
    &.odd {
      background: #f8f8f8;
    }
    &.even {
      background: white;
    }
  }
}

.page-services {
  .service-featured {
    padding: 50px 0 75px;
    background: white;
    .card {
      border: none;
      .card-title {
        font-size: 25px;
      }
    }
  }
  .premium-plus {
    background: #f6f6f6;
    padding-bottom: 170px;
    .sub-section {
      background-position: right bottom;
      background-size: 100%;
      background-repeat: no-repeat;
      .card {
        margin: 45px 0;
        padding: 60px 0;
        background: transparent;
        border: none;
        h5 {
          font-size: 25px;
          font-weight: 400;
          text-transform: uppercase;
          color: black;
        }
        p {
          font-size: 12px;
          color: black;
          margin-top: 10px;
        }
        .price {
          font-size: 28px;
        }
        .card-body {
          padding: 0;
        }
      }
    }
  }
}

.custom-heading {
  min-height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px center;
  display: flex;
  justify-content: center;
  align-items: center;

  .heading {
    font-size: 80px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    font-style: italic;
  }
}

.sidebar {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 100px;
  height: 100%;
  @include media(mobile-only) {
    background-color: transparent;
    padding-bottom: 50px;
  }
  .card {
    align-items: center;
    background: transparent;
    border: none;
    @include media(mobile-only) {
      align-items: flex-start;
    }
    ul {
      background: transparent;
      .list-group-item {
        background: transparent;
        font-weight: 400;
        button {
          background: transparent;
          padding: auto;
          color: black;
          text-transform: none;
        }
      }
    }
    .profile-pic {
      position: relative;
      margin-bottom: 50px;
      @include media(mobile-only) {
        margin: 0;
      }
      img {
        width: initial !important;
        max-width: 150px;
      }
      .uploadIcon {
        position: absolute;
        bottom: 10%;
        right: 10%;
        font-size: 2rem;
      }
    }
  }
}
.sidebar.--step-1 {
  @include media(mobile-only) {
    background-image: url("../assets/1.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}
.sidebar.--step-2 {
  @include media(mobile-only) {
    background-image: url("../assets/2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}
.sidebar.--step-3 {
  @include media(mobile-only) {
    background-image: url("../assets/3.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}
.details {
  background: white;
  padding-top: 50px;
  padding-bottom: 300px;
  padding-left: 90px;
  padding-right: 90px;
  @include media(mobile-only) {
    padding: 30px;
  }
  form {
    max-width: 50%;

    @include media(mobile-only) {
      max-width: 100%;
    }
    .form-control,
    .form-select {
      border: 1px solid black;
    }
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    svg {
      color: #f2c53d;
      margin-left: 10px;
    }
  }
  .image-box {
    background: #f7f7f7;
    border: 1px dashed black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .form-check {
    .form-check-label {
      margin-left: 20px;
    }
    margin-bottom: 30px;
  }
  .service {
    .price {
      float: right;
    }
  }
  .form-footer {
    margin-top: 75px;
  }
}

.filter-bar {
  background: #f6f6f6;
  padding: 25px;
  .form-check {
    display: inline-block;
  }
  .form-control {
    background: white;
  }
}

.orders {
  padding: 45px 30px 300px;
  .order {
    border: 1px solid black;
    padding: 16px 32px;
    margin-bottom: 20px;
    @include media(mobile-only) {
      padding: 8px;
    }
    .order-thumbnail {
      img {
        max-width: 250px;
        @include media(mobile-only) {
          max-width: 60px;
        }
      }
      .image-box {
        border-radius: 50%;
      }
    }
    .order-title {
      font-size: 12px;
      font-weight: 400;
      text-transform: initial;
    }
    .date {
      font-weight: 300;
      font-size: 12px;
    }
    .orderId {
      font-weight: 300;
      font-size: 12px;
    }
    .detail-btn,
    .doc-btn,
    .more-btn {
      padding: 5px 20px;
      margin-left: 16px;
      font-size: 10px;
      font-weight: 500;
      background: #e5e5e5;
      color: black;
    }
    .more-btn {
      background: #121212;
      color: white;
      a {
        color: white;
      }
    }
  }
}

.page-content {
  .nav-tabs {
    .nav-item {
      background: #e5e5e5;
      margin-right: 0;
      padding: 20px 100px;
      border: none;
      font-size: 12px;
      font-weight: 300;
      &.active {
        background: #f7f7f7;
      }
    }
    @include media(mobile-only) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav-item {
        padding: 5px 10px;
        border-radius: 0px;
        flex-grow: 1;
      }
    }
  }
  .tab-content {
    background: #f7f7f7;
    padding: 60px 0 150px;
    font-size: 12px;
    .tab-title {
      font-size: 18px;
      font-weight: 500;
    }
    p {
      font-size: 12px;
      margin-bottom: 2rem;
    }
    .chatBox {
      border: 1px solid black;
      min-height: 350px;
      width: 50%;
      background: white;
      position: relative;
      @include media(mobile-only) {
        width: 100%;
      }
      .message-lists {
        padding: 35px 70px;
        p {
          margin-bottom: 30px;
        }
        .client {
          text-align: right;
          position: relative;
          .avt-icon {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            right: -40px;
            bottom: -5px;
            background-position: center center;
            background-size: cover !important;
          }
        }
        .staff {
          text-align: left;
          position: relative;
          .avt-icon {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: block;
            position: absolute;
            left: -40px;
            bottom: -5px;
            background-position: center center;
            background-size: cover !important;
          }
        }
      }
      .input-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid black;
        input {
          background: white;
        }
      }
    }
    .th {
      text-transform: none;
    }
  }
  .order-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }
    a {
      background: #e5e5e5;
      margin-right: 0;
      padding: 20px 100px;
      border: none;
      font-size: 12px;
      font-weight: 300;
      display: inline-block;
      &.active {
        background: #f7f7f7;
        margin-right: 0;
        padding: 20px 100px;
        border: none;
        font-size: 12px;
        font-weight: 300;
      }
    }
    @include media(mobile-only) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        flex-grow: 1;
        padding:0;
        a {
          padding: 5px 10px;
          width:100%;
          &.active{
            padding:5px 10px;
          }
        }
      }
    }
  }
  .billing-details {
    background: #f7f7f7;
    padding: 60px 0 150px;
    font-size: 12px;
  }
}

.service-icons {
  width: 100%;
  margin-bottom: 90px;
  .order-progress {
    list-style-type: none;
    display: flex;
    li {
      display: inline-flex;
      width: 208px;
      height: 80px;
      padding-left: 81px;
      align-items: center;
      @include media(mobile-only) {
        width: 108px;
        height: 40px;
        padding: 45px;
      }
      img {
        width: 18px;
        height: 18px;
        margin-left: 32px;
      }
      &.progress-1 {
        background: url(../assets/services/1.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-1-success {
        background: url(../assets/services/1-success.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-2 {
        background: url(../assets/services/2.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-2-success {
        background: url(../assets/services/2-success.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-3 {
        background: url(../assets/services/3.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-3-success {
        background: url(../assets/services/3-success.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-4 {
        background: url(../assets/services/4.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
      &.progress-4-success {
        background: url(../assets/services/4-success.png) no-repeat;
        @include media(mobile-only) {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    li:last-child {
      img {
        display: none;
      }
    }
  }
}

.tab-service {
  span {
    display: inline-block;
  }
  svg {
    margin-right: 24px;
  }
}

.profile-details {
  padding: 45px 50px 150px;
  @include media(mobile-only) {
    padding: 45px 50px;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  table {
    width: 70%;
  }
  hr {
    width: 25%;
    margin-top: 2rem;
  }
  .payment-info {
    width: 100%;
    @include media(mobile-only) {
      width: 100%;
    }
  }
}
